 /*
Theme Name: protass
Description: A child theme of Postali Theme
Author: Postali LLC
Author URI: http://www.postali.com/
Version: 1.0.0
Template: postali
*/

@import url("../postali/style.css");  
*, :before, :after { -webkit-box-sizing: border-box; box-sizing: border-box; }