/**
 * Custom Mixins
 *
 * @package padda-2018
 * @author Postali
 */


 /* Title text */
@mixin title-text($color: $white) {
  font-family: $playfair;
  text-transform: uppercase;
  color: $color;
}

@mixin header-top-dash {
    position: relative;
    padding-top: 1em;
    &:before {
      border-bottom: 2px solid #E37777;
      top: 0;
      content: "";
      left: 0;
      position: absolute;
      width: 15%;
    }
}
@mixin banner-contact {
  text-align: center;
  @media screen and (max-width: $screen-xs) {
    margin-bottom: 1em;
  }
  p {
    display: inline-block;
    margin-right: 20px;
    @media screen and (max-width: $screen-sm) { 
      margin-bottom: 1em;
      margin-right: 0;
    }
    @media screen and (max-width: $screen-sm) { 
      display: block;
      margin-bottom: 0;
    }
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover, &:active {
      color: $blue;
    }
  }
}
@mixin section-title {
  color: $blue!important;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: 16px;
  font-weight: 700;
  margin: 2em 0;
  position: relative;
  z-index: 3;
  @media screen and (max-width: $screen-sm) { 
    font-size: 22px;
    margin: 1em 0;
  }
  @media screen and (max-width: $screen-xs) {
    line-height: 140%;
  }
}
@mixin awards {
    img {
      display: inline-block;
      padding: 0 2%;
      width: 18%;
      vertical-align: middle;
      @media screen and (max-width: $screen-sm) { 
        margin: 10px 0;
      }
      &:first-of-type {
        padding-left: 0;
      }
    }
    &.awards-list {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      a,
      span {
        display: block;
        max-width: 90px;
        align-self: center;
        padding-right: 10px;
        img {
          width: 100%;
        }
      }
    }
  }
/* Mixins for setting non-standard container_inner widths */
@mixin skinny {
  padding: 0 10%;
  @media (max-width: 1200px) {
    padding: 0 5%;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}

@mixin super-skinny {
  padding: 0 15%;
  @media screen and (max-width: $screen-lg) {
    padding: 0 10%;
  }
  @media screen and (max-width: $screen-sm) {
    padding: 0;
  }
}

/* Simple page banners with only page titles */
@mixin simple-banner {
  background-size: cover;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title .container_inner {
    h1 {
      font-size: 74px;
    }
  }
}

@mixin side-btn($color) {
  margin:0 auto;
  padding:15px 50px;
  display: block;
  background-color:$color;
  color:$white;
  text-align: center;
  border-radius: 0px;
  -webkit-transition: .3s ease-in-out 0s;
  -o-transition: .3s ease-in-out 0s;
  -webkit-transition: .3s ease-in-out 0s;
  transition: .3s ease-in-out 0s;
  font-family: $roboto;
  font-size:18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  &:hover, &:focus {
    background-color:darken($color, 5%);
    color:$white;
  }
  &:after {
      font-family: $icomoon;
      content: "\e904";
      transform: rotate(-90deg);
      font-size: 10px;
      color: $white;
      float: right;
  }
  @media screen and (max-width: 1024px) {
    padding: 10px 50px;
  }
}

/* Down arrow attachment */
@mixin down-arrow($color) {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $color;
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  display: inline-block;
  z-index: 88;
}

@mixin practice-areas-three-columns {
  margin: 0;
  padding: 0;
  height: 85vh;
  position: relative;
  z-index: 999;
  min-height: 800px;
  @media screen and (max-width: $screen-xl) {
    height: 95vh;
    min-height: 740px;
  }
  @media screen and (max-width: $screen-mdsm) {
    height: 105vh;
    min-height: 840px;
  }
  @media screen and (max-width: $screen-sm) {
    height: unset;
    min-height: revert;
  }
  .three_columns {
    display: flex;
    @media screen and (max-width: $screen-sm) {
      display: block;
    }
  }
  .PA-container {
    display: flex;
    height: 100%;
    .pa-upper, .pa-lower {
      display: block;
    }
    @media screen and (max-width: $screen-sm) {
      display: block;
    }
    .blue {
      font-size: 14px;
      @media screen and (max-width: $screen-sm) { 
        font-size: 18px;
      }
    }
    h3 {
      color: $white;
      font-family: $playfair;
      font-weight: $bold; 
      font-size: 36px;
    }
    p {
      color: $white;
      @media screen and (max-width: $screen-lg) {
          font-size: 16px;
          line-height: 180%;
      }
      @media screen and (max-width: $screen-mdsm) {
        font-size: 15px;
      }
      @media screen and (max-width: $screen-sm) {
        font-size: 16px;
      }
    }
    .btn.animate {
      outline: 1px solid $white;
      color: $white!important;
      position: absolute;
      bottom: 125px;
      @media screen and (max-width: $screen-sm) {
        position: relative;
        bottom: unset;
      }
    }
  }
  .column {
    background-size: cover!important;
    display: flex;
    flex: 1;
    @media screen and (max-width: $screen-sm) {
      display: block;
    }
    .column_inner {
      padding: 20px 15%;
      position: relative;
      @media screen and (max-width: $screen-xl) {
        padding: 20px 10%;
      }
      .PA_stats {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: inherit;
        width: 100%;
        @media screen and (max-width: $screen-sm) {
          position: relative;
          padding: 1px 0 0 0;
        }
        i {
          color: $blue;
          font-size: 40px;
          float:left;
          padding-top: 25px;
          margin-bottom: 30px;
        }
        p {
          font-family: $roboto;
          font-weight: $bold;
          font-size: 16px;
          @media screen and (max-width: $screen-mdsm) {
            font-size: 14px;
          }
          @media screen and (max-width: $screen-sm) {
            font-size: 16px;
          }
          .blue {
            font-size: 16px;

          }
        }
      }
    }
  }
  .column1 {
    background: $black url('/wp-content/uploads/2018/10/homepage-criminal-defense-tile-background-img.jpg') no-repeat;
  }
  .column2 {
    background: $black url('/wp-content/uploads/2018/10/homepage-appeals-and-post-conviction-litigation-background-img.jpg') no-repeat;
  }
  .column3 {
    background: $black url('/wp-content/uploads/2018/10/homepage-securitites-enforcement-and-regulatory-proceedings-background-img.jpg') no-repeat;
  }
}