/**
 * Sass variables and functions.
 *
 * @package protass
 * @author Postali
**/

// Breakpoints
$screen-xxl: 1500px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-md: 1024px;
$screen-mdsm: 900px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;

/* Colors */
$black: #000000;
$white: #ffffff;
$lt-grey: #f4f4f4;
$md-grey: #E6E6E6;
$dk-grey: #707070;
$dkr-grey: #4A4A4A;
$blue: #08BDFF;
$orange: #fb7d33;
$hover-blue: #009bd4;
$yellow: #FFEA77;
$transparent: transparent;

/* Fonts */
$sans: 'Open Sans', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;
$playfair: 'Playfair Display', serif;
$cabin: 'Cabin', sans-serif;
$mono: 'Roboto Mono', monospace;
$icomoon: 'icomoon';

/* Font Weights */
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;