/**
 * TinyMCE editor styles
 *
 * @package protass
 * @author Postali
 */
/*!* WARNING: This is a generated stylesheet. To make changes edit editor.scss
*/

@import 'compass';
@import 'variables';

body#tinymce.wp-editor {

  h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: 'Open Sans', sans-serif;
  }

  a {
    text-decoration: none;
    color:$blue;
  }

  .alignleft {
    margin-right: 1em;
  }

  .alignright {
    margin-left: 1em;
  }

}